<!DOCTYPE html>
<html>
<body>


<h2>FAM - Previsão de Espécies de Iris</h2>
<h3>Entre com os dados das plantas</h3>

<form action="/classifica_iris">
  <label for="slength">Comprimento sépalas (cm):</label><br>
  <input type="text" id="slength" name="slength" ><br>
  <label for="swidth">Largura sépalas (cm):</label><br>
  <input type="text" id="swidth" name="swidth" ><br>
  <label for="plength">Comprimento pétalas (cm):</label><br>
  <input type="text" id="plength" name="plength" ><br>
  <label for="pwidth">Largura pétalas (cm):</label><br>
  <input type="text" id="pwidth" name="pwidth" ><br><br>
  <input type="submit" value="Enviar">
</form> 

<p>Clicando em "Enviar" os dados serão enviados para o /classifica_iris.</p>

</body>
</html>
